[DEFAULT]
enabled_apis = osapi_compute,metadata
transport_url = rabbit://openstack:{{ rabbitmq_pw }}@{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}
my_ip = {{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver

[vnc]
enabled = True
server_listen = {{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}
server_proxyclient_address = {{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}

[glance]
api_servers = http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:9292

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:5000/v3
username = placement
password = {{ placement_pw }}

[api_database]
connection = mysql+pymysql://nova:{{ nova_dbpw }}@{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}/nova_api

[database]
connection = mysql+pymysql://nova:{{ nova_dbpw }}@{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}/nova

[api]
auth_strategy = keystone

[keystone_authtoken]
auth_url = http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:5000/v3
memcached_servers = {{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ nova_pw }}

[neutron]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:35357
url = http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:9696
username = neutron
password = {{ neutron_pw }}
service_metadata_proxy = true
metadata_proxy_shared_secret = {{ metadata_secret }}

[barbican]
[cache]
[cells]
[cinder]
[compute]
[conductor]
[console]
[consoleauth]
[cors]
[crypto]
[devices]
[ephemeral_storage_encryption]
[filter_scheduler]
[guestfs]
[healthcheck]
[hyperv]
[ironic]
[key_manager]
[keystone]
[libvirt]
[matchmaker_redis]
[metrics]
[mks]
[notifications]
[osapi_v21]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_messaging_zmq]
[oslo_middleware]
[oslo_policy]
[pci]
[quota]
[rdp]
[remote_debug]
[scheduler]
[serial_console]
[service_user]
[spice]
[upgrade_levels]
[vault]
[vendordata_dynamic_auth]
[vmware]
[workarounds]
[wsgi]
[xenserver]
[xvp]
