[Member]
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_LISTEN_PEER_URLS="http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:2379"
ETCD_NAME="controller"

[Clustering]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:2380"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:2379"
ETCD_INITIAL_CLUSTER="controller=http://{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster-01"
ETCD_INITIAL_CLUSTER_STATE="new"
