[barbican]
[cache]
[cells]
[cinder]
[compute]
[conductor]
[console]
[consoleauth]
[cors]
[crypto]

[database]
connection = mysql+pymysql://nova:{{ nova_dbpw }}@{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}/nova

[devices]
[ephemeral_storage_encryption]
[filter_scheduler]

[glance]
api_servers = http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:9292

[guestfs]
[healthcheck]
[hyperv]
[ironic]
[key_manager]
[keystone]

[keystone_authtoken]
auth_url = http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:5000/v3
memcached_servers = {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ nova_pw }}

[libvirt]
[matchmaker_redis]
[metrics]
[mks]

[neutron]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:35357
url = http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:9696
username = neutron
password = {{ neutron_pw }}
service_metadata_proxy = true
metadata_proxy_shared_secret = {{ metadata_secret }}

[notifications]
[osapi_v21]

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_messaging_zmq]
[oslo_middleware]
[oslo_policy]
[pci]

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:5000/v3
username = placement
password = {{ placement_pw }}

[quota]
[rdp]
[remote_debug]
[scheduler]
[serial_console]
[service_user]
[spice]
[upgrade_levels]
[vault]
[vendordata_dynamic_auth]
[vmware]

[vnc]
enabled = True
server_listen = {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}
server_proxyclient_address = {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}

[workarounds]
[wsgi]
[xenserver]
[xvp]
