[Unit]
Description=OVN controller daemon
After=syslog.target
Requires=openvswitch.service
After=openvswitch.service

[Service]
Type=forking
PIDFile=/var/run/openvswitch/ovn-controller.pid
Restart=on-failure
ExecStart=/usr/share/openvswitch/scripts/ovn-ctl --no-monitor \
          --ovn-user=${OVS_USER_ID} \
          start_controller $OVN_CONTROLLER_OPTS
ExecStop=/usr/share/openvswitch/scripts/ovn-ctl stop_controller

[Install]
WantedBy=multi-user.target
