[DEFAULT]
core_plugin = neutron.plugins.ml2.plugin.Ml2Plugin
service_plugins = networking_ovn.l3.l3_ovn.OVNL3RouterPlugin
allow_overlapping_ips = True
transport_url = rabbit://openstack:{{ rabbitmq_pw }}@{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}
auth_strategy = keystone
notify_nova_on_port_status_changes = true
notify_nova_on_port_data_changes = true

[agent]
[cors]

[database]
connection = mysql+pymysql://neutron:{{ neutron_dbpw }}@{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}/neutron

[keystone_authtoken]
auth_uri = http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:5000
auth_url = http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:35357
memcached_servers = {{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = neutron
password = {{ neutron_pw }}

[matchmaker_redis]

[nova]
auth_url = http://{{ hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address'] }}:35357
auth_type = password
project_domain_name = Default
user_domain_name = Default
region_name = RegionOne
project_name = service
username = nova
password = {{ nova_pw }}

[oslo_concurrency]
lock_path = /lock
DEFAULT = rpc_workers

[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_messaging_zmq]
[oslo_middleware]
[oslo_policy]
[quotas]
[ssl]
