[DEFAULT]
enabled_apis = osapi_compute,metadata
transport_url = rabbit://openstack:{{ rabbitmq_pw }}@{{ openstack.controller[0].ip_man }}
my_ip = {{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver

[vnc]
enabled = True
server_listen = 0.0.0.0
server_proxyclient_address = {{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}
novncproxy_base_url = http://{{ openstack.controller[0].ip_man }}:6080/vnc_auto.html

[glance]
api_servers = http://{{ openstack.controller[0].ip_man }}:9292

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[api]
auth_strategy = keystone

[placement]
os_region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ openstack.controller[0].ip_man }}:5000/v3
username = placement
password = {{ placement_pw }}

[keystone_authtoken]
www_authenticate_uri = http://{{ openstack.controller[0].ip_man }}:5000/
auth_url = http://{{ openstack.controller[0].ip_man }}:5000/
memcached_servers = {{ openstack.controller[0].ip_man }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ nova_pw }}

[libvirt]
virt_type = qemu

[neutron]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ openstack.controller[0].ip_man }}:35357
url = http://{{ openstack.controller[0].ip_man }}:9696
username = neutron
password = {{ neutron_pw }}

[api_database]
[barbican]
[cache]
[cells]
[cinder]
[compute]
[conductor]
[console]
[consoleauth]
[cors]
[crypto]
[database]
[devices]
[ephemeral_storage_encryption]
[filter_scheduler]
[guestfs]
[healthcheck]
[hyperv]
[ironic]
[key_manager]
[keystone]
[matchmaker_redis]
[metrics]
[mks]
[notifications]
[osapi_v21]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_messaging_zmq]
[oslo_middleware]
[oslo_policy]
[pci]
[quota]
[rdp]
[remote_debug]
[scheduler]
[serial_console]
[service_user]
[spice]
[upgrade_levels]
[vault]
[vendordata_dynamic_auth]
[vmware]
[workarounds]
[wsgi]
[xenserver]
[xvp]
